.main-section {
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -0%);
  width: 50vw;
  min-height: 100vh;
  gap: 30px;
  padding-bottom: 50px;

  @media screen and (min-width: 1440px) {
    max-width: 720px;
  }
  
  @media screen and (max-width: 1024px) {
    width: 60vw;
  }

  @media screen and (max-width: 768px) {
    width: 90vw;
  }
}

.company-header {
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  padding: 50px 30px 30px 30px;
  border: 1px solid rgba(122, 122, 122, 0.1);

  .company-logo {
    position: absolute;
    top: -2%;
    width: 50px;
    height: 50px;

    @media screen and (max-width: 500px) {
      top: -1.5%;
    }
  }

  h2 {
    margin-bottom: 15px;
  }

  .product-desc {
    font-size: 0.9rem;
    color: $dark-gray;
    margin-bottom: 35px;
  }

  .action-btns {
    width: 90%;
    justify-content: space-between;

    .back-project-btn {
      background-color: $moderate-cyan;
      color: white;
      font-weight: 500;
      padding: 15px 35px;
      transition: all 0.1s ease-in-out;

      &:hover {
        background-color: $dark-cyan;
      }
    }

    .bookmark-btn-container {
      cursor: pointer;
      align-items: center;

      .bookmark-btn {
        padding: 15px 20px 15px 65px;
        color: rgb(94, 94, 94);
        font-weight: 700;

        @media screen and (max-width: 768px) {
          display: none;
        }
      }

      .bookmarked-btn {
        padding: 15px 20px 15px 65px;
        color: $dark-cyan;
        font-weight: 700;

        @media screen and (max-width: 768px) {
          display: none;
        }
      }

      .bookmark-icon {
        position: absolute;
        height: 50px;
        width: 50px;

        @media screen and (max-width: 768px) {
          position: inherit;
        }
      }

      &:hover {
        opacity: 0.85;
      }
    }
  }
}

.stats-container {
  justify-content: center;
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgba(122, 122, 122, 0.1);
  padding: 30px 65px;

  .numerical-stats {
    width: 100%;
    margin-bottom: 30px;

    .individual-stats {
      align-self: center;
      text-align: left;
      margin-right: 30px;

      .num-val {
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 5px;
      }

      .stat-desc {
        font-size: 0.85rem;
        color: $dark-gray;
      }

      @media screen and (max-width: 850px) {
        margin-right: 0px;
      }

      @media screen and (max-width: 500px) {
        text-align: center;
      }
    }

    hr {
      opacity: 0.3;
      height: 50px;

      @media screen and (max-width: 500px) {
        display: none;
      }
    }

    @media screen and (max-width: 500px) {
      flex-direction: column;
      gap: 20px;
    }
  }

  @media screen and (max-width: 500px) {
    padding: 40px;
  }
}