@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');

$moderate-cyan: rgb(60, 180, 172);
$dark-cyan: rgb(20, 123, 116);
$black: rgb(0, 0, 0);
$dark-gray: rgb(122, 122, 122);

$font-family: 'Commissioner', sans-serif;
$font-size: 16px;

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

button {
  display: inline-block;
  outline: none;
  border: none;
  border-radius: 50px;
  font-family: $font-family;
  cursor: pointer;
}

/***** some base definitions from https://piccalil.li/blog/a-modern-css-reset/ *****/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/***** main styles *****/

html {
  font-family: $font-family;
  font-size: $font-size;
}

body {
  width: 100vw;
  background-color: rgb(247, 247, 247);
}

@import "_header";
@import "_main-section";
@import "_modal";
@import "_about";