@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');

$moderate-cyan: rgb(60, 180, 172);
$dark-cyan: rgb(20, 123, 116);
$black: rgb(0, 0, 0);
$dark-gray: rgb(122, 122, 122);

$font-family: 'Commissioner', sans-serif;
$font-size: 16px;

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

button {
  display: inline-block;
  outline: none;
  border: none;
  border-radius: 50px;
  font-family: $font-family;
  cursor: pointer;
}

/***** some base definitions from https://piccalil.li/blog/a-modern-css-reset/ *****/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/***** main styles *****/

html {
  font-family: $font-family;
  font-size: $font-size;
}

body {
  width: 100vw;
  background-color: rgb(247, 247, 247);
}

.header {
  min-height: 45vh;
  width: 100vw;
  color: white;
  background-image: linear-gradient(180deg, rgba(0,0,0,0.4) 0%, rgba(255,61,84,0) 20%), 
    url('/public/image-hero-desktop.jpg');
  background-repeat: no-repeat, no-repeat;
  background-size: contain, cover;
  background-position: center top, center top;

  nav {
    position: absolute;
    left: 50%;
    top: 6%;
    transform: translate(-50%, -6%);
    justify-content: space-between;
    width: 80vw;

    .nav-items {
      gap: 35px;

      .nav-item {
        font-size: 0.9rem;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .burger-menu {
      align-self: center;

      img {
        cursor: pointer;
      }

      .nav-items-mobile {
        position: absolute;
        justify-content: center;
        top: 6vh;
        right: -5%;
        text-align: left;
        height: 30vh;
        width: 90vw;
        background-color: white;
        border-radius: 5px;
        color: $black;
        z-index: 5;
        box-shadow: 0px 20px 40px -5px rgba(0,0,0,0.3);

        .nav-item-mobile {
          padding: 30px 25px;
          font-weight: 500;
          font-size: 1.15rem;
          cursor: pointer;

          @media screen and (max-width: 375px) {
            padding: 20px 25px;
          }
        }

        hr {
          border: 1px solid rgba(122, 122, 122, 0.1);
          margin: 0;
          width: 100%;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    min-height: 42vh;
    background-image: linear-gradient(180deg, rgba(0,0,0,0.8) 0%, rgba(255,61,84,0) 100%), 
    url('/public/image-hero-mobile.jpg');
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
  }
}

.main-section {
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -0%);
  width: 50vw;
  min-height: 100vh;
  gap: 30px;
  padding-bottom: 50px;
  // background-color: royalblue;

  @media screen and (min-width: 1440px) {
    max-width: 720px;
  }
  
  @media screen and (max-width: 1024px) {
    width: 60vw;
  }

  @media screen and (max-width: 768px) {
    width: 90vw;
  }
}

.company-header {
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  padding: 50px 30px 30px 30px;
  border: 1px solid rgba(122, 122, 122, 0.1);

  .company-logo {
    position: absolute;
    top: -2%;
    width: 50px;
    height: 50px;

    @media screen and (max-width: 500px) {
      top: -1.5%;
    }
  }

  h2 {
    margin-bottom: 15px;
  }

  .product-desc {
    font-size: 0.9rem;
    color: $dark-gray;
    margin-bottom: 35px;
  }

  .action-btns {
    width: 90%;
    justify-content: space-between;

    .back-project-btn {
      background-color: $moderate-cyan;
      color: white;
      font-weight: 500;
      padding: 15px 35px;
      transition: all 0.1s ease-in-out;

      &:hover {
        background-color: $dark-cyan;
      }
    }

    .bookmark-btn-container {
      cursor: pointer;
      align-items: center;

      .bookmark-btn {
        padding: 15px 20px 15px 65px;
        color: rgb(94, 94, 94);
        font-weight: 700;

        @media screen and (max-width: 768px) {
          display: none;
        }
      }

      .bookmarked-btn {
        padding: 15px 20px 15px 65px;
        color: $dark-cyan;
        font-weight: 700;

        @media screen and (max-width: 768px) {
          display: none;
        }
      }

      .bookmark-icon {
        position: absolute;
        height: 50px;
        width: 50px;

        @media screen and (max-width: 768px) {
          position: inherit;
        }
      }

      &:hover {
        opacity: 0.85;
      }
    }
  }
}

.stats-container {
  justify-content: center;
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgba(122, 122, 122, 0.1);
  padding: 30px 65px;

  .numerical-stats {
    width: 100%;
    margin-bottom: 30px;

    .individual-stats {
      align-self: center;
      text-align: left;
      margin-right: 30px;

      .num-val {
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 5px;
      }

      .stat-desc {
        font-size: 0.85rem;
        color: $dark-gray;
      }

      @media screen and (max-width: 850px) {
        margin-right: 0px;
      }

      @media screen and (max-width: 500px) {
        text-align: center;
      }
    }

    hr {
      opacity: 0.3;
      height: 50px;

      @media screen and (max-width: 500px) {
        display: none;
      }
    }

    @media screen and (max-width: 500px) {
      flex-direction: column;
      gap: 20px;
    }
  }

  @media screen and (max-width: 500px) {
    padding: 40px;
  }
}

.modal-container {
  position: absolute;
  width: 50vw;
  background-color: white;
  top: calc(100vh - 20%);
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 30px;
  background-color: white;
  box-shadow: 0px 0px 0px 10000px rgba(0,0,0,0.65);
  border-radius: 5px;
  z-index: 5;

  .close-modal {
    margin-left: 98%;
    height: 15px;
    width: 15px;
    cursor: pointer;
  }

  .modal-title {
    font-size: 1.25rem;
    margin-top: 10px;
    margin-bottom: 15px;
    font-weight: 700;
  }

  .modal-desc {
    font-size: 0.9rem;
    color: $dark-gray;
    margin-bottom: 25px;
  }

  .pledges-container {
    gap: 20px;

    .pledge-option-container {
      border: 1px solid rgba(122, 122, 122, 0.2);
      border-radius: 5px;

      .top-part {
        padding: 25px;

        input[type="radio"] {
          margin-right: 15px;
          appearance: none;
          background-color: white;
          border: 1px solid rgba(94, 94, 94, 0.5);
          min-width: 25px;
          height: 25px;
          border-radius: 25px;
          cursor: pointer;
          transition: all 0.1s ease-in-out;

          &:checked {
            background-color: $moderate-cyan;
            box-shadow: inset 0 0 0 4.5px #fff;
          }

          &:hover {
            border: 1px solid $moderate-cyan;
          }
        }

        .pledge-details {
          align-items: baseline;

          @media screen and (max-width: 768px) {
            flex-direction: column;
          }
        }

        .pledge-option-title {
          font-weight: 700;
          margin-bottom: 15px;
          transition: all 0.1s ease-in-out;

          &:hover {
            cursor: pointer;
            color: $moderate-cyan;
          }

          @media screen and (max-width: 768px) {
            margin-bottom: 5px;
          }
        }

        .pledge-amount-info {
          font-weight: 700;
          margin-left: 20px;
          color: $moderate-cyan;

          @media screen and (max-width: 768px) {
            margin-left: 0px;
            margin-bottom: 10px;
          }
        }

        .amount-left, .amount-left-mobile {
          margin-right: 0px;
          margin-left: auto;
          font-size: 0.9rem;
          color: $dark-gray;
          
          .num-accent {
            font-weight: 700;
            font-size: 1.15rem;
            color: black;
          }
        }

        .amount-left {
          @media screen and (max-width: 768px) {
            display: none;
          }
        }

        .amount-left-mobile {
          @media screen and (min-width: 768px) {
            display: none;
          }
        }

        .pledge-option-desc {
          color: $dark-gray;
          line-height: 25px;
          font-size: 0.95rem;
          text-align: justify;

          @media screen and (max-width: 768px) {
            margin-bottom: 10px;
          }
        }
      }
      
      .bottom-part {
        padding: 10px 25px 15px 25px;
        justify-content: space-between;
        align-items: center;

        .continue-btn {
          padding: 12px 20px;
          background-color: $moderate-cyan;
          color: white;
          font-weight: 500;
          transition: all 0.1s ease-in-out;

          &:hover {
            background-color: $dark-cyan;
          }
        }

        .enter-pledge {
          color: $dark-gray;
          line-height: 25px;
          font-size: 0.95rem;
        }

        @media screen and (max-width: 768px) {
          flex-direction: column;
          gap: 15px;
        }
      }

      .pledge-amount {
        outline: none;
        margin-right: 15px;
        border-radius: 50px;
        width: 100px;
        padding: 5px 15px 5px 30px;
        font-family: $font-family;
        font-size: 1rem;
        font-weight: 700;
        color: black;
        border: 1px solid $dark-gray;
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='20px' width='85px'><text x='12' y='17' fill='gray' font-size='18' font-family='arial'>$</text></svg>");
        background-repeat: no-repeat;
        background-position: center left;
        cursor: pointer;

        &:focus {
          border: 1px solid $moderate-cyan;
        }
      }

      hr {
        width: 100%;
        height: 1px;
        opacity: 0.3;
      }
    }

    .active-container {
      border: 2px solid $moderate-cyan;
    }
  }

  @media screen and (max-width: 1024px) {
    top: 90%;
    width: 60vw;
  }

  @media screen and (max-width: 768px) {
    width: 90vw;
  }
}

.inactive-container {
  pointer-events: none;
  opacity: 0.5;
}

.thanks-modal-container {
  position: absolute;
  width: 35vw;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: white;
  box-shadow: 0px 0px 0px 10000px rgba(0,0,0,0.65);
  border-radius: 5px;
  z-index: 5;

  .checkmark-icon {
    height: 60px;
    width: 60px;
    margin-bottom: 30px;
  }

  .modal-desc {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 30px;
    color: $dark-gray;
    font-size: 0.9rem;
  }

  .got-it-btn {
    border: none;
    padding: 12px 25px;
    border-radius: 50px;
    font-family: $font-family;
    color: white;
    font-weight: 500;
    background-color: $moderate-cyan;
    cursor: pointer;
    transition: all 0.1s ease-in-out;

    &:hover {
      background-color: $dark-cyan;
    }
  }

  @media screen and (max-width: 800px) {
    width: 80vw;
  }
}

.about-section {
  background-color: white;
  border-radius: 5px;
  padding: 40px 60px;
  border: 1px solid rgba(122, 122, 122, 0.1);

  h3 {
    margin-bottom: 30px;
  }

  .about-desc {
    color: $dark-gray;
    font-size: 0.9rem;
    line-height: 25px;
  }

  .reward-containers {
    margin-top: 30px;
    gap: 20px;

    .reward-container {
      border: 1px solid rgba(122, 122, 122, 0.4);
      border-radius: 5px;
      padding: 30px 20px;

      .header-container, .footer-container {
        justify-content: space-between;
      }

      .header-container, .footer-container {
        @media screen and (max-width: 500px) {
          flex-direction: column;
          gap: 5px;
        }
      }

      .pledge-amount {
        font-weight: 500;
        font-size: 0.9rem;
        color: rgb(5, 201, 188);
      }

      .pledge-desc {
        font-size: 0.9rem;
        line-height: 25px;
        color: $dark-gray;
        margin-top: 15px;
        margin-bottom: 20px;
        text-align: justify;
      }

      .amount-left {
        font-size: 0.7rem;
        align-items: center;
        color: $dark-gray;
        font-weight: 500;

        .left-accent {
          font-size: 1.25rem;
          font-weight: 700;
          margin-right: 5px;
          color: black;

          @media screen and (max-width: 500px) {
            font-size: 1.5rem;
          }
        }

        @media screen and (max-width: 500px) {
          font-size: 1rem;
          margin-bottom: 15px;
        }
      }

      .select-reward-btn {
        padding: 12px 25px;
        color: white;
        font-weight: 500;
        background-color: $moderate-cyan;
        transition: all 0.1s ease-in-out;

        &:hover {
          background-color: $dark-cyan;
        }

        @media screen and (max-width: 500px) {
          width: 140px;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    padding: 40px;
  }
}

// TODO: Refractor CSS in parts, deploy